@charset "UTF-8";
ul li a {
    display: inline;
    text-indent: 0px;
    min-height: 30px;
}
.container .main-nav {
    border-bottom: thick solid #372A16;
}
ul li a {
    color: #5A4D3A;
    text-shadow: 0 0;
}
body {
    background-color: #4F4231;
}
.Container {
    background-color: #C9BBA9;
}
ul li a {
    height: 30px;
}
.container .main-nav {
    height: 90px;
    text-align: right;
    text-decoration: none;
    padding-right: 17px;
    background-color: #C9BBA9;
    padding-left: 17px;
    padding-bottom: 0px;
}
.container .bannar.and.intro img {
    padding-left: 0px;
    width: 0px;
}
.container .bannar.and.intro {
    background-color: #C9BBA9;
}
.container {
    width: 0px;
}
.container .bannar.and.intro img {
}
.container {
}
.main-nav p img {
    text-align: left;
    vertical-align: 47px;
}
.main-nav p img {
    padding-left: 0px;
    margin-left: -4px;
}
.container .homepage.main.article {
    padding-top: 50px;
    padding-bottom: 50px;
}
ul li a {
}
.main-nav ul li {
    margin-top: 19px;
    padding-top: 36px;
}
.container .main-nav {
    vertical-align: text-bottom;
    text-align: right;
    background-image: url(url);
}
.container .main-nav {
}
.container .main-nav ul {
    padding-top: 30px;
}
.main-nav ul li {
}
ul li a {
}
.main-nav ul li {
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
    left: 0px;
    text-align: right;
}
.main-nav p img {
    height: 100px;
    list-style-position: outside;
    float: left;
    padding-top: 0px;
}


.main-nav li a:hover{
	color: #89BC6A;
	text-decoration: none;

	
}
.container .bannar.and.intro img {
    width: 0px;
    visibility: visible;
}
.container .homepage.main.article p {
    text-align: center;
    margin-left: 144px;
    margin-right: 144px;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    font-size: 16px;
}
ul li a {
    font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
}
.container {
    background-color: #C9BBA9;
}
.container .extra.photos img {
}
.container .extra.photos img {
    width: 270px;
    height: 220px;
    background-position: 0% 0%;
    border-collapse: separate;
    border-spacing: 36px 27px;
    margin-left: 20px;
    margin-right: 20px;
}
.container .home-footer p {
    height: 0px;
    text-decoration: none;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}
ul li a {
    text-align: center;
    font-size: 12px;
}
.container .home-footer {
    height: 69px;
    text-align: center;
    margin-top: 33px;
    background-color: #372A16;
}
.container .home-footer p {
}
.container .home-footer {
    background-color: #C9BBA9;
}
ul li a {
    background-color: #C9BBA9;
}
ul li a {
    text-shadow: 0px 0px;
}
.container .home-footer {
    background-color: #C9BBA9;
}
.home-footer ul li {
    display: inline;
    text-align: center;
    font-size: 10px;
}
.container .home-footer p {
    font-size: 21px;
    text-align: center;
    line-height: normal;
    font-weight: bold;
}
.container .home-footer p {
    color: #372A16;
    -webkit-box-shadow: inset 0px 0px;
    box-shadow: inset 0px 0px;
}
.container img {
}
.container img {
}
.container div img {
    margin-top: 49px;
}
.FunFact.para .funfact.photo img {
    width: 234px;
    min-width: 0px;
    height: 158px;
    float: none;
    text-align: center;
}
.FunFact.para .funfact.photo img {
}
.container .FunFact.para .funfact.photo {
    text-align: center;
}
.FunFact.para .funfact.photo img {
    width: 280px;
    margin-left: 10px;
    margin-right: 10px;
    height: 210px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.funfact.paragraph ul li {
    text-align: center;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    font-size: 17px;
    line-height: 27px;
    list-style-position: inside;
}
.pop  {
    font-size: 22px;
    font-weight: bold;
    color: #3D5A25;
    font-style: normal;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}
.container .FunFact.para .funfact.paragraph {
    margin-bottom: 73px;
}
.container .FunFact.para .funfact.paragraph {
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    text-align: left;
}
.container .FunFact.para .funfact.paragraph {
    text-align: center;
}
.FunFact.para .funfact.paragraph p {
    text-align: center;
    font-size: 18px;
    line-height: 23px;
}
.container .FunFact.para .symbal {
    float: left;
    margin-left: 45px;
    margin-right: 45px;
    text-align: left;
}
.FunFact.para .symbal p {
    font-size: 18px;
    line-height: 27px;
    color: #6B5942;
}
.funfact.paragraph p #docs-internal-guid-6e1a2cb4-7fff-5e44-c430-03d3eb7b66c5 {
}
.funfact.paragraph p #docs-internal-guid-6e1a2cb4-7fff-5e44-c430-03d3eb7b66c5 {
}
.FunFact.para .funfact.paragraph .symbal {
    text-align: left;
    float: left;
}
.FunFact.para .funfact.paragraph ul {
    text-shadow: 0 0;
    text-align: left;
}
.container .species.image img {
    float: left;
    min-width: 0px;
    margin-right: 30px;
}
.container .species.header {
    color: #6B5C44;
    text-align: center;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    font-size: 18px;
}
.container .home-footer {
    text-transform: none;
}
.home-footer ul li {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 10px;
}
.information.paragraph .information.image img {
    float: left;
}
.container .information.paragraph .information.image {
    text-align: left;
    text-transform: none;
    float: none;
}
.container .information.paragraph img {
    float: left;
}
.information.image p img {
}
.container .information.paragraph .information.aside {
    float: right;
}
.information.aside ul li {
}
ul li h3 {
    font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    padding-top: 0px;
}
.information.aside ul li {
    margin-top: 40px;
    padding-bottom: 0px;
    font-size: small;
}
.container .information.paragraph {
    text-align: center;
    margin-top: 66px;
    background-repeat: repeat-x;
}
.information.paragraph .information.image img {
    float: left;
    clear: left;
    margin-left: 29px;
    margin-right: 9px;
    margin-top: 19px;
}
.container .information.paragraph {
    background-color: #C9BBA9;
    margin-left: 67px;
    margin-right: 67px;
    margin-top: 13px;
    font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
    text-align: left;
    padding-right: 126px;
}
.container .information.paragraph p {
    margin-left: 16px;
    padding-left: 35px;
    margin-top: 36px;
    font-size: 12px;
}
.information.paragraph .information.image h1 {
    text-align: center;
    height: 20px;
    padding-top: 18px;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    color: #1E2318;
    text-shadow: 0px - #BB1316; 

}
.container .information.paragraph .information {
    font-size: 14px;
    text-align: left;
}
.information.paragraph .information.image img {
    margin-top: 44px;
}
.information.paragraph .information.image img {
    font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
}
.information.paragraph .information.image img {
    background-color: #C9BBA9;
    font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
}
.info.main .info.header h1 {
    text-align: center;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    font-size: 40px;
    color: #6B5C44;
}
.container .info.main {
}
.container .info.main {
}
.info.main .info.main.image img {
    float: left;
    clear: none;
    margin-right: 32px;
    margin-top: 4px;
    margin-left: 153px;
}
.container .home-footer {
    border-top: thick solid #372A16;
}
.container .info.main p {
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    padding-top: 0px;
}
.container .info.main ul {
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    margin-right: 181px;
    font-size: 16px;
    margin-left: 65px;
    margin-top: 31px;
    color: #000000;
}
.container .info.main p {
    margin-left: 120px;
    margin-right: 120px;
    margin-top: -31px;
    line-height: 26px;
    text-align: center;
}
.info.main .info.main.image img {
}
.info.main ul li {
}
.container .info.main {
    text-align: left;
    clear: none;
}
.container .info.main .info.header {
    margin-bottom: 46px;
}
.container .info.main .bullet.points {
    margin-top: 15px;
}
.container .info.main .info.bottom.para {
    padding-top: 28px;
    margin-top: 67px;
}
.container {
    width: 1000px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.two-toed ul li {
}
.what.are.the.differences .two-toed p {
}
.Species.p .different.types.of.sloth p {
}
.Species.p .different.types.of.sloth .speciey.top {
    padding-left: 33px;
}
.different.types.of.sloth .speciey.top ul {
    text-indent: 0px;
}
.different.types.of.sloth .speciey.top ul {
    text-indent: 0px;
}
ul li p {
    text-align: left;
}
.container p {
    text-align: left;
}
.container ul li {
    text-align: left;
    line-height: 28px;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    text-indent: 50px;
}
.container p {
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    font-size: 21px;
}
.what.are.the.differences .Three-toed p {
    text-align: center;
    font-size: 17px;
}
.what.are.the.differences .Three-toed p {
}
.oyyyy  {
    color: #313933;
    line-height: 25px;
}
.what.are.the.differences .Three-toed .two-toed {
    font-size: 15px;
    color: #284B1B;
    line-height: 17pt;
    font-style: italic;
}
.what.are.the.differences .two-toed .two-toed {
    color: #284B1B;
    font-size: 15px;
    line-height: 17pt;
    font-style: italic;
}
.what.are.the.differences .Three-toed ul {
}
.what.are.the.differences .two-toed .word {
}
.Species.p .what.are.the.differences .species.header {
}
.what.are.the.differences .two-toed .word {
    text-shadow: 0px 0px;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
}
.Species.p .different.types.image img {
    float: right;
}
.different.types.of.sloth .different.types.image img {
    float: right;
    margin-right: 114px;
    margin-top: 65px;
}
.different.types.of.sloth ul li {
    text-align: justify;
}
.Species.p .different.types.of.sloth p {
    margin-left: 49px;
}
.Species.p .different.types.of.sloth p {
    font-size: 21px;
    text-align: left;
}
.word {
    color: #2A541B;
    font-weight: bold;
    font-size: 30px;
}
.sub title {
    color: #498831;
}
.Species.p .different.types.of.sloth .sub {
    font-size: 20px;
    text-align: left;
    font-style: italic;
    color: #224117;
}
.Species.p .different.types.of.sloth p {
    font-size: 20px;
}
.speciey.top ul li {
    display: inherit;
    margin-left: 15px;
}
.Species.p .what.are.the.differences .word {
    text-align: center;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    font-size: 27px;
}
.what.are.the.differences .two-toed p {
    text-align: center;
    font-size: 18px;
    font-style: normal;
    line-height: 15px;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}
.two-toed .oyyyy strong {
    line-height: 28px;
}
.Species.p .different.types.of.sloth .word {
    font-size: 27px;
}
.container h1 {
    color: #6B5C44;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}
.container .info.main p {
    font-size: 17px;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}
.container .photos {
}
.container .photos img {
    width: 256px;
    height: 255px;
    text-align: left;
}
.photos p img {
}
.container .FunFact.para .right.side.symbal {
    float: right;
    font-size: 18px;
    line-height: 23px;
    margin-right: 45px;
}
.right.side.symbal p {
}
.container .FunFact.para .right.side.symbal {
}
.symbal p #docs-internal-guid-6e1a2cb4-7fff-5e44-c430-03d3eb7b66c17 {
    font-size: 18px;
}
.container .FunFact.para .symbal {
    font-size: 18px;
}
.container .FunFact.para .symbal {
    font-size: 18px;
}
.FunFact.para .symbal p {
}
.FunFact.para .symbal p {
    font-size: 18px;
    line-height: 23px;
}
.right.side.symbal p #docs-internal-guid-6e1a2cb4-7fff-5e44-c430-03d3eb7b66c9 {
}
.container .photos img {
    width: 270px;
    height: 216px;
}
.container .photos img {
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
    margin-bottom: 5px;
}
.container .photos {
}
.container .photos {
}
.container .resource.para {
    padding-right: 57px;
    padding-left: 57px;
    line-height: 32px;
}
.container .resource.para {
    text-align: left;
}
.container .resource.para {
    text-align: left;
}
.container .resource.para {
}
.container .resource.para {
}
.main-nav li a:hover {
    color: #EAE5DE;
}
.resource.para p strong {
    font-size: 19px;
    text-align: left;
}
.linkwords {
    color: #4E4E4E;
    text-align: left;
    font-size: 17px;
}
.sourceparatitle {
    color: #43331A;
    font-size: 16px;
}
ul li a {
}
ul li a {
}
